packaging==25.0
joblib==1.5.1
matplotlib==3.9.4
numpy==1.26.4
tables==3.9.2
pandas==2.3.0
requests==2.32.4
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
statsmodels==0.14.4
xgboost==2.0.3
umap-learn==0.5.7