joblib
matplotlib
numpy
tables
pandas
pandas_plink
requests
scikit-learn
scipy
seaborn
statsmodels
xgboost
umap-learn
tensorflow
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
keras>=2.13.1rc0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability